{% extends "base.html" %}

{% load i18n %}

{% block navbar_tracked_items %}class="active"{% endblock %}

{% block page-title %}{{ block.super }} | {% trans "Tracked Items" %}{% endblock %}

{% block main-container %}

    <h1>{% trans "Tracked Items" %}</h1>

    {% for item in object_list %}
        <div class="row">
            <div class="col-lg-12">
              <h3>{{ item }}</h3>
              <form action="#" method="POST">
                {% csrf_token %}

                <button class="btn btn-default" name='action_remove' type="submit">{% trans 'Delete' %}</button>
              </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}