{% extends "base_h5bp.html" %}
{% load staticfiles %}
{% load account %}
{% load i18n %}

{% block page-title %}wowa{% endblock %}

{% block meta-description %}A new Project{% endblock %}

{% block meta-keywords %}{% endblock %}

{% block meta-author %}Felipe Arruda Pontes{% endblock %}

{% block meta-generator %}Django 1.7{% endblock %}

{% block meta-extras %}{% endblock %}


{% block css-extras %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block 'js-imports' %}
{% endblock %}



{% block navbar-brand %}<a class="navbar-brand" href="{% url 'home' %}">WOWa</a>{% endblock %}

{% block navbar-header %}
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
{% endblock %}

{% block navbar-nav %}
<li {% block navbar_tracked_items %}{% endblock %}><a href="{% url 'tracker:tracked_items' %}">Tracked Items</a></li>
<li {% block navbar_search_item %}{% endblock %}><a href="#search">Search Item</a></li>
<li {% block navbar_about %}{% endblock %}><a href="{% url 'about' %}">About</a></li>
{% endblock %}



{% block navbar-right %}
<div class="nav navbar-right">
  <ul class="nav navbar-nav">
      {% if request.user.is_authenticated %}
        <li {% block navbar_account %}{% endblock %}><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
        <li {% block navbar_logout %}{% endblock %}><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
      {% else %}
        <li {% block navbar_signup %}{% endblock %}><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
        <li {% block navbar_login %}{% endblock %}><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
      {% endif %}
  </ul>
</div>
{% endblock %}


{% block main-jumbotron %}

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
      {% endif %}

{% endblock %}

{% block main-container %}

{% endblock %}

{% block jquery-docready %}
{% endblock %}

{% block jquery-winload %}{% endblock %}

{% block js-onpage %}{% endblock %}


{% block analytics %}
{% endblock %}