{% extends "util/base.html" %}
{% load i18n %}
{% load account %}
{% load url from future %}

{% block page-title %}{% trans "Sign In" %}{% endblock %}

{% block main-container %}

<div class="col-lg-12">
    <h1>{% trans "Sign In" %}</h1>

    {% if socialaccount.providers  %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="login form-horizontal" role="form" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">&times;</a>
                {% for non_field_error in form.non_field_errors %}
                     {{ non_field_error }}
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% include 'util/_bsform_field.html' with field=form.login field_type="text" %}

        {% include 'util/_bsform_field.html' with field=form.password field_type="password" %}

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                    {{ form.remember }}
                    {{ form.remember.label }}
                </label>

                {% for error in form.remember.errors %}
                    <span class="help-block {{ form.remember.error_css_class }}">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
          </div>


      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">

              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              <button class="btn btn-default" type="submit">{% trans "Sign In" %}</button>
        </div>
      </div>

    </form>

</div>
{% endblock %}