{% extends "account/base.html" %}
{% load avatar_tags %}
{% load static %}
{% load i18n %}

{% block page-title %}{{ block.super }} | {% trans "User" %}: {{ object.username }}{% endblock %}

{% block account_nav_acc %}active{% endblock %}
{% block account_content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>

    </div>
  </div>

{% if object == request.user %}

<div class="row">
    <div class="col-lg-12">
        <h1>{% block header %}User: {{ user.username }}{% endblock %}</h1>

        <form class="form-horizontal" method="get" action="{% url 'users:update' %}">
            {% csrf_token %}

            <div id="div_id_first_name" class="form-group">
                <label for="id_first_name" class="control-label ">
                    {% trans "First name" %}
                </label>
                <div class="controls ">
                    <input disabled="true" class="textinput textInput form-control" id="id_first_name" maxlength="30" name="first_name" type="text" value="algo2" />
                </div>
            </div>

            <div id="div_id_last_name" class="form-group">
                <label for="id_last_name" class="control-label ">
                   {% trans "Last name" %}
                </label>
                <div class="controls ">
                    <input disabled="true" class="textinput textInput form-control" id="id_last_name" maxlength="30" name="last_name" type="text" value="legal" />
                </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn">Update</button>
              </div>
            </div>
        </form>
    </div>
</div>
{% endif %}


</div>
{% endblock account_content %}
